.container {
	width: 950px;
	z-index: 1;
}
body {
	background: #CEE3F6;
}

header {
	padding-top: 20px;
}


.edit_button {
background:transparent;
background-image: url(../images/edit.png);
padding:5px;
border-style:none;
margin-left: auto;
margin-right: auto;
display: inline;
text-align:center;
width:20px;
height:20px;
}

.edit_button:hover{
background-image:url(../images/editmouseover.png);
}

.deletebutton {
background:transparent;
background-image:url(../images/delete.png);
padding:5px;
border-style:none;
margin-left: auto;
margin-right: auto;
text-align:center;
width:20px;
height:20px;
}

.deletebutton:hover{
background-image:url(../images/deletemouseover.png);
}

.menu {width:600px; height:32px; position:relative; z-index:100; font-family:arial, sans-serif;}
/* remove all the bullets, borders and padding from the default list styling */
.menu ul {padding:0;margin:0;list-style-type:none;}
.menu ul ul {width:auto;}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
.menu li {float:left;width:auto;position:relative;}
/* style the links for the top level */
.menu a, .menu a:visited {display:block;font-size:15px;color:white; width:auto; height:30px; background:transparent; padding-left:10px; padding-right:10px; line-height:29px; font-weight:bold;}
.menu div {display:block;font-size:15px;color:white; width:auto; height:30px; background:transparent; padding-left:10px; padding-right:10px; line-height:29px; font-weight:bold;}
.menu a.two, .menu a.two:visited {display:block;font-size:15px;color:red; width:auto; height:30px; background:transparent; padding-left:10px; padding-right:10px; line-height:29px; font-weight:bold;}

/* style the second level background */
.menu ul ul a.drop, .menu ul ul a.drop:visited {background:black;}
/* style the second level hover */
.menu ul ul li:hover {background:black;}
.menu ul ul a.drop:hover{background-color:black; color:#cbcbcb;}
.menu ul ul :hover > a.drop {background-color:black; color:#cbcbcb;}

/* hide the sub levels and give them a positon absolute so that they take up no room */
.menu ul ul {display:none; float:left; position:absolute;height:0;top:27px;left:0; width:0px;border-top:1px solid #000;}

/* style the table so that it takes no ppart in the layout - required for IE to work */
.menu table {position:absolute; top:0; left:0; border-collapse:collapse;;}

/* style the second level links */
.menu ul ul a, .menu ul ul a:visited {background:black; opacity:0.95 color:#fff; height:auto; line-height:1em; padding:5px 10px; width:100px;}

/* style the top level hover */
.menu a:hover, .menu ul ul a:hover{color:#3b3b3b; background:transparent;}
.menu :hover > a, .menu ul ul :hover > a {color:#3b3b3b; background:transparent;}

.menu a.two:hover, .menu ul ul a:hover{color:#3b3b3b; background:transparent;}
.menu :hover > a.two, .menu ul ul :hover > a.two {color:#3b3b3b; background:transparent;}

/* make the second level visible when hover on first level list OR link */
.menu ul li:hover ul,
.menu ul a:hover ul{display:block;}

h1{
font-family: Delicious-Roman, Helvetica, Arial, sans-serif;
color: #3b3b3b;
}

p {
font-family: Delicious-Roman, Helvetica, Arial, sans-serif;
}

h4 {
font-family: Delicious-Roman, Helvetica, Arial, sans-serif;
margin-bottom: -1px;
margin-top: 15px;
}

.username_menu {
font-family: Delicious-Roman, Helvetica, Arial, sans-serif;
font-size: 50%;
}

header img {
	padding: 0px;
	background: transparent;
	float: left;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
	z-index: 999;
	margin-bottom: 35px;
	height: 100%;
}

section h1 {
	margin-left: 15px;
	font-size: 200%;
}

.likebutton {
		text-align: center;
		font-size: 150%;
		width: 100%;
	  position: fixed;
		padding-top:5px;
		right: 0px;
		bottom: 0px;
		margin-top: 5px;
		z-index: 0;
		background-color:black;
		opacity:0.85;
		border-top-style:solid; 
		border-top-color:white; 
		border-top-width:2px;
		display:none;
}

.tweet {
	margin-bottom:-2px;
}

/* Links */

a {
	color: #bf1e44;
	text-decoration: none;
}

a:hover {
	color: #000;
}

a: visited {
	color: #780a0b;
}


/* Navigation */
@font-face {
font-family: Delicious-Roman;
src: url(Fonts/Delicious-Roman.otf);
}

@font-face {
font-family: Diavlo_BOOK_II_37;
src: url(Fonts/Diavlo_II_37/Diavlo_BOOK_II_37.otf);
}

@font-face {
font-family: Diavlo_LIGHT_II_37;
src: url(Fonts/Diavlo_II_37/Diavlo_LIGHT_II_37.otf);
}

@font-face {
font-family: ADrinkForAllAges;
src: url(Fonts/ADrinkForAllAges.TTF);
}

nav {
	margin-top: 0px;
	text-align: right;
	font-family: Diavlo_BOOK_II_37, Helvetica, Arial, sans-serif;
	font-size: 300%;
}

nav {
	width: 950px;
	/*background-image: url(../images/navbackground.png);
	background-repeat: repeat-x;*/
	background: transparent;
	padding-top: 10px;
	padding-bottom: 0px;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
	padding-right:15px;
}

nav ul li {
	font-family: ADrinkForAllAges, Helvetica, Arial, sans-serif;
	list-style-type: none;
	display: inline-block;
	padding: 0.2 0;
}

nav ul li a {
	color: white;
	padding: 0 5px;
	padding-bottom: 0px;
}

nav ul li a:visited {
	color: white;
}

nav ul li a:hover {
	color:black;
	text-decoration: none;
}

/* Sign up button */

a.signup_button {
	font-family: Diavlo_BOOK_II_37, Helvetica, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align:center;
	width: 190px;
	color: #fff;
	background: #000;
	font-size: 350%;
	padding: 20px;
}

/* Round corners */
.roundnav {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
  padding-right: 10px;
	color: white;
	background: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.formtext{
	font-family: Delicious-Roman, Helvetica, Arial, sans-serif;
}

.round{
	border-style:solid;
	border-width:2px;
	border-color:black;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	border-radius: 40px;
}

.round3{
	border-style:solid;
	border-width:2px;
	border-color:black;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}

.roundnav:hover {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
  padding-right: 10px;
	background-color: white;
  filter:alpha(opacity=60);
  opacity:0.6;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
} 

.round2 {
	float: right;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border-style:solid;
	border-width:1px;
	border-color:black;
}

ol {
	font-size: 200%;
	color: black;
}

.content2 {
	padding: 10px;
  margin: 15px;
	margin-bottom: 35px;
	background: #FCF0AD;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
  -moz-box-shadow: 3px 3px 3px #111;
	-webkit-box-shadow: 3px 3px 3px #111;
	box-shadow: 3px 3px 3px #111;
	
}

.content3 {
	padding: 10px;
  margin: 15px;
	margin-bottom: 50px;
	width: 220px; 
	float:left; 
	background:#4F7AAD; 
	color:white; 
	font-size: 50%;
	border-style:solid;
	border-width:2px;
	border-color:black;
}

/* Footer */

footer {
	text-align: center;
	margin-top: 10px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	padding-bottom: 0px;
}

footer nav {
	text-align: center;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}
td.main {
  width: 70%;
  padding: 1em;
}
td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background-color: #abc;
}
.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* Form Style */

div.field, div.actions {
  margin-bottom: 10px;
}

.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: #fbe3e4;
  display: table;
}

.field_with_errors label {
  color: black;
}

#error_explanation {
  width: 400px;
  border: 2px solid black;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #fbe3e4;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #fbe3e4;
  color: black;
}

#error_explanation p {
  color: #fbe3e4;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/*Displaying user list */

ul.users {
  margin-top: 1em;
}

.users li {
  list-style: none;
}

/*Micropost section*/
h1.micropost {
  margin-bottom: 0.3em;
}

table.microposts {
  margin-top: 1em;
}

table.microposts tr {
  height: 70px;
}

table.microposts tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.microposts tr td.micropost {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.microposts tr td.micropost span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}


div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.microposts {
  font-size: 80%;
}

form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}


/* Proposal Titles List */

h1.proposaltitles {
	text-align: center;
  font-size: 150%;
	margin-bottom: 0.3em;
}

table.proposaltitles {
  margin-top: 1em;
}

table.proposaltitles tr {
  height: 70px;
}

table.proposaltitles tr td.gravatar {
  border-top: 1px solid #ccc;
  vertical-align: top;
  width: 50px;
}

table.proposaltitles tr td.proposaltitle {
  border-top: 1px solid #ccc;
  vertical-align: top;
  padding-top: 10px;
}

table.proposaltitles tr td.proposaltitle span.timestamp {
  display: block;
  font-size: 85%;
  color: #666;
}

div.user_info img {
  padding-right: 0.1em;
}

div.user_info a {
  text-decoration: none;
}

div.user_info span.user_name {
  position: absolute;
}

div.user_info span.proposaltitles {
  font-size: 80%;
}

form.new_proposal {
  margin-bottom: 2em;
}

form.new_proposal textarea {
  height: 4em;
  margin-bottom: 0;
}



#proposal_content {
	height: 300px;
	width: 90%;	
}


input.delete_button {
font-size: 10;
font-family: Diavlo_BOOK_II_37, Helvetica, Arial, sans-serif;
color: #ff0000;
background: transparent;
border-style: none;
display: inline;
}

.button_to div {
display: inline;
}

.button_to {
display: inline;
}

div#test {
    background-image:  url(../images/placeholder2.png);
    background-repeat: no-repeat;
    height: 300px;
    width: 354px;
}

div#testtext {
		font-family: ADrinkForAllAges, Helvetica, Arial, sans-serif;
		font-size: 300%;
    position: relative;
    height: auto;
    width: 100px;
    left: 55px;
    top: 65px;
}
 

