<h1><%= @title %></h1>
<p>Welcome to the Love Parade Video YouTube Geotagging Site</p>

<div id="map_canvas" style="width:460px; height:230px; border-style:solid; border-color:#3b3b3b; border-width:3px;"></div>
